body{
  background:url(http://artem.anmedio.ru/dev/planet/space.jpg) repeat;
}

h2,h5{
    color: darkorange;
  font-family: 'Bitter', serif;

}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.6);
    z-index: 4;
}


nav ul{
    margin: 0 10px;
}

nav a{
    margin: 0 20px;
    color: navajowhite;
    font-family: monospace;
    font-size: 17px;
    font-weight: 900;
    
}

nav a:hover{
    color: red;
}

.hero {
    height: auto;
    width: 100%;
    position: relative;
    top: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.infor{
    color: white;
    max-width: 100%;
    text-align: center;
    position: relative;
    top: 260px;
    z-index: 2;
    text-shadow: 1.5px 1.5px #86c2f2ff;  
    margin: 0 auto;
}

.mainpg{
    max-width: 700px;
    margin: 0 auto;
}

body{
  background:url(http://artem.anmedio.ru/dev/planet/space.jpg) repeat;
}
.planet{
    margin: -130px 0 0;
  width:1120px;
  height:600px;
  position:relative;
  border-top-left-radius:600px;
  border-top-right-radius:600px;
  overflow:hidden;
  box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);

}
.planet .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-top-left-radius:500px;
  border-top-right-radius:500px;
}
.planet .background{
  animation: translateBackground 40s infinite linear; 
  background:url(mars.png);
  width:2100px;
  height:1000px;
  position:absolute;
  top: -20%;
  left: -50%;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  transform: rotate(-20deg);
}
.planet .clouds{
  background:url(http://artem.anmedio.ru/dev/planet/clouds.png) ;
  width:1900px;
  height:1000px;
  position:absolute;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  animation: translateBackground 30s infinite linear;
  opacity: 0.4;
    top: -20%;
  left: -50%;
  transform: rotate(-20deg);
}
/*
.planet .wrap{
  width:1000px;
  height:500px;
  position:absolute;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  animation: rotatePlanet 150s infinite linear;  
}
*/
@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}

/*button*/


#workarea {
  position: relative;
  left: 38%;
  padding-top: 5px;
  position: absolute;
  width: 160px;
  height: 50px;
  background: rgba(0,0,0,0.5);
  font-family: Raleway;
}

/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

#text {
  margin-top: -35px;
  text-align: center;
    text-shadow: none;
}

#text a {
  color: beige;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #ef476f;
}

/*pics*/
.page1, .sc{
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: auto;
    color: white;
}

.pics{
    margin: 120px auto 120px;
    width: 290px;
    position: relative;
    height: 443px;
}

.pic1{
    position:absolute;
    top: 0px;
    left: 5px;
}

.pic2{
    position:absolute;
    top: 0px;
    right: -13px;
}

.pic3{
    position:absolute;
    bottom: 0%;
    left: 2.5px;
}

.pic4{
    position:absolute;
    top: 4px;
    left: 0%;
}

.con{
    max-width: 600px;
    font-size: 20px;
    margin: 0 auto;
}



#pg2 h2{
    text-align: center; 
    font-family: 'Bitter', serif;
    margin-bottom: 30px;
}

#pg2 img{
    margin: 0 auto;
}

#pg2 .det{
    margin: 20px;
    width: 100%;
    height: auto;
    font-size: 20px;
    font-family:monospace;
}

/*quote*/

.quo{
    margin: 0px 0 40px;
  min-height: 100vh;
  font-size: 25px;
  overflow: hidden;
    position: relative;
    color: white;
    
}

.quocon{
    background: rgba(0,0,0,0.3);
    max-width: 100%;
    padding: 50px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.rocket {
  position: absolute;
  top: 20%;
  width: 80px;
  left: calc(50% - 60px);
}
.rocket .rocket-body {
  width: 80px;
  left: calc(50% - 50px);
  animation: bounce 0.5s infinite;
}
.rocket .rocket-body .body {
  background-color: #dadada;
  height: 180px;
  left: calc(50% - 50px);
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top: 5px solid #f5f5f5;
}
.rocket .rocket-body:before {
  content: '';
  position: absolute;
  left: calc(50% - 24px);
  width: 48px;
  height: 13px;
  background-color: #554842;
  bottom: -13px;
  border-bottom-right-radius: 60%;
  border-bottom-left-radius: 60%;
}
.rocket .window {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #a75248;
  left: calc(50% - 25px);
  top: 40px;
  border: 5px solid #b4b2b2;
}
.rocket .fin {
  position: absolute;
  z-index: -100;
  height: 55px;
  width: 50px;
  background-color: #a75248;
}
.rocket .fin-left {
  left: -30px;
  top: calc(100% - 55px);
  border-top-left-radius: 80%;
  border-bottom-left-radius: 20%;
}
.rocket .fin-right {
  right: -30px;
  top: calc(100% - 55px);
  border-top-right-radius: 80%;
  border-bottom-right-radius: 20%;
}
.rocket .exhaust-flame {
  position: absolute;
  top: 90%;
  width: 28px;
  background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  height: 150px;
  left: calc(50% - 14px);
  animation: exhaust 0.2s infinite;
}
.rocket .exhaust-fumes li {
  width: 60px;
  height: 60px;
  background-color: #f5f5f5;
  list-style: none;
  position: absolute;
  border-radius: 100%;
}
.rocket .exhaust-fumes li:first-child {
  width: 200px;
  height: 200px;
  bottom: -300px;
  animation: fumes 5s infinite;
}
.rocket .exhaust-fumes li:nth-child(2) {
  width: 150px;
  height: 150px;
  left: -120px;
  top: 260px;
  animation: fumes 3.2s infinite;
}
.rocket .exhaust-fumes li:nth-child(3) {
  width: 120px;
  height: 120px;
  left: -40px;
  top: 330px;
  animation: fumes 3s 1s infinite;
}
.rocket .exhaust-fumes li:nth-child(4) {
  width: 100px;
  height: 100px;
  left: -170px;
  animation: fumes 4s 2s infinite;
  top: 380px;
}
.rocket .exhaust-fumes li:nth-child(5) {
  width: 130px;
  height: 130px;
  left: -120px;
  top: 350px;
  animation: fumes 5s infinite;
}
.rocket .exhaust-fumes li:nth-child(6) {
  width: 200px;
  height: 200px;
  left: -60px;
  top: 280px;
  animation: fumes2 10s infinite;
}
.rocket .exhaust-fumes li:nth-child(7) {
  width: 100px;
  height: 100px;
  left: -100px;
  top: 320px;
}
.rocket .exhaust-fumes li:nth-child(8) {
  width: 110px;
  height: 110px;
  left: 70px;
  top: 340px;
}
.rocket .exhaust-fumes li:nth-child(9) {
  width: 90px;
  height: 90px;
  left: 200px;
  top: 380px;
  animation: fumes 20s infinite;
}
@keyframes fumes {
  50% {
    transform: scale(1.5);
    background-color: transparent;
  }
  51% {
    transform: scale(0.8);
  }
  100% {
    background-color: #f5f5f5;
    transform: scale(1);
  }
}
@keyframes bounce {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  50% {
    transform: translate3d(0px, -4px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes exhaust {
  0% {
    background: linear-gradient(to bottom, transparent 10%, #f5f5f5 100%);
  }
  50% {
    background: linear-gradient(to bottom, transparent 8%, #f5f5f5 100%);
  }
  75% {
    background: linear-gradient(to bottom, transparent 12%, #f5f5f5 100%);
  }
}
@keyframes fumes2 {
  50% {
    transform: scale(1.1);
  }
}
@keyframes twinkle {
  80% {
    transform: scale(1.1);
    opacity: 0.7;
  }
}

/*footer*/

footer{
    text-align: center;
    background: rgba(0,0,0);
    padding: 20px;
}

footer ul{
    padding-left: 0;
    list-style-type: none;
    text-align: left;
    font-size: 17px;
    color:navajowhite;
}

.ic1{
    color: navy;
}

.ic2{
    color: deepskyblue;
}

.ic3{
    color:deeppink;
}

.ic4{
    color:red;
    list-style-type: none;
    
}    

.ic1,.ic2,.ic3,.ic4{
    padding: 5px;
    width: 31px;
    height: 31px;
    background: white;
    border-radius: 30px;
}

.ic{
    margin: 0 2px;
    font-size: 20px;
}

.fas{
    margin-right: 10px;
    color: darkorange;
}
